@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color:#674BB1;
    background-image: url('images/bg-desktop.svg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: auto 100%;
    padding: 4rem 6rem 0rem 6rem;
}

h1 {
    font-family:'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2.1rem;
    line-height: 3.375rem;
    color:white;
    margin: 0;
    max-width: 25rem;
}

main {
    display: grid;
    grid-template-columns: 1.46fr 1fr;
    grid-template-rows: 2.27fr 8.7fr 1fr;
    grid-template-areas: "head head" "bodyleft bodyright" "foot foot";
    grid-gap: 1.5rem;
    max-width: 80rem;
    margin:auto;
}

.head {
    grid-area: head;
}

.logo {
    box-sizing:border-box;
    margin-bottom: 6.5rem;
    height: inherit;
}

.bodyleft {
    min-height: 30.75rem;
    max-width: 42.5rem;
    grid-area: bodyleft;
}

.image-container {
    display: flex;
    padding: 4.25rem 0rem;
    max-width: 44rem;
    position: relative;
    }

.image-container img {
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
}

.bodyright {
    grid-area: bodyright;
    padding-top: 3rem;
    padding-left: 2.25rem;
}

.right {
    display: flex;
    flex-direction: column;
    position: relative;
}

.right-top__header {
    margin-bottom: 2rem;
    overflow-wrap: break-word;
}

.right-top__body {
    font-family: 'Open Sans', sans-serif;
    font-size:1rem;
    color: white;
    line-height: 1.6rem;
    display:inline-block;
    max-width: 32rem;
    margin-bottom: 1.75rem;
    overflow-wrap: break-word;
}

.button-register {
    display:inline-block;
    padding: 1.25rem 4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: white;
    color:#674BB1;
    border-radius: 2rem;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.4);
}

.foot {
    position: relative;
    grid-area: foot;
}

.group-icon {
    position:absolute;
    display:flex;
    flex-direction:row;
    gap:1rem;
    bottom:0px;
    right:0px;
}

.attribution {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 11px;
    text-align: center;
}

.attribution a:link {
    text-decoration: none;
    color:white;
    font-weight:600;
}

.attribution a:hover {
    text-decoration: underline;
}

.button-register:hover {
    background-image: linear-gradient(#E980E7,#BF4EBA);
    color: white;
    cursor: pointer;
}

.icon-logo {
    display: inline-block;
    background-size: cover;
    width:40px;
    height:40px;
}

.icon--facebook {
    background-image: url(icons/fb-white.svg);
}

.icon--facebook:hover {
    filter: invert(33%) sepia(31%) saturate(2121%) hue-rotate(280deg) brightness(97%) contrast(88%);
}

.icon--instagram {
    background-image: url(icons/ig-white.svg);
}

.icon--instagram:hover {
    filter: invert(33%) sepia(31%) saturate(2121%) hue-rotate(280deg) brightness(97%) contrast(88%);
}

.icon--twitter {
    background-image: url(icons/twitter-white.svg);
}

.icon--twitter:hover {
    filter: invert(33%) sepia(31%) saturate(2121%) hue-rotate(280deg) brightness(97%) contrast(88%);
}


@media (min-width: 740px) and (max-width: 1024px) {
    body {
        padding: 4.75rem 5rem;
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 10.5fr 13.2fr 1.5fr;
        grid-template-areas:"head"
                            "bodyleft"
                            "bodyright"
                            "foot";
        grid-gap: 8.75rem;
        margin:auto;
    }

    .bodyleft {
        min-height: 0;
        width: 100%;
        margin-left:auto;
        margin-right: auto;
    }

    .bodyright {
        padding-top: 0;
        padding-left: 0;
    }

    .logo {
        margin-bottom: 0;
    }

    .image-container {
        padding: 8.75rem 0 0 0;
        }

    .image-container img {
        margin-top: 0;
    }

    .right {
        align-items: center;
    }


    .right-top__header {
        margin-bottom: 2rem;
        overflow-wrap: break-word;
}

    h1 {
        font-size: 3rem;
        line-height: 4rem;
        text-align: center;
        max-width: 37rem;
    }

    .right-top__body {
        font-family: 'Open Sans', sans-serif;
        font-size:1.75rem;
        line-height: 3rem;
        max-width: 37rem;
        margin-bottom: 3.25rem;
        overflow-wrap: break-word;
        text-align: center;
    }

    .button-register {
        padding: 2rem 9.5rem;
        border-radius: 4rem;
        font-size:1.5rem;
        margin: 0 auto;
    }

    .button-container {
        display: flex;
    }

    .foot {
        width: 25%;
        margin: auto;
    }

    .group-icon {
        margin: auto;
        align-items: center;
        position: relative;
        justify-content: center;
    }
}

@media (max-width: 739px) {
    body {
        padding: 4.75rem 5rem;
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr 5.8fr 1fr;
        grid-template-areas:"head"
                            "bodyleft"
                            "bodyright"
                            "foot";
        grid-gap: 8.75rem;
        margin:auto;
    }

    .bodyleft {
        min-height: 0;
    }

    .bodyright {
        padding-top: 0;
        padding-left: 0;
    }

    .logo {
        margin-bottom: 0;
    }

    .image-container {
        padding: 8.75rem 0 0 0;
        }

    .image-container img {
        margin-top: 0;
    }

    .right {
        align-items: center;
    }


    .right-top__header {
        margin-bottom: 2rem;
        overflow-wrap: break-word;
}

    h1 {
        font-size: 3rem;
        line-height: 4rem;
        text-align: center;
        max-width: 37rem;
    }

    .right-top__body {
        font-family: 'Open Sans', sans-serif;
        font-size:1.75rem;
        line-height: 3rem;
        max-width: 37rem;
        margin-bottom: 3.25rem;
        overflow-wrap: break-word;
        text-align: center;
    }

    .button-register {
        padding: 2rem 9.5rem;
        border-radius: 4rem;
        font-size:1.5rem;
        margin: 0 auto;
    }

    .button-container {
        display: flex;
    }

    .foot {
        width: 28%;
        margin-left: auto;
        margin-right: auto;
    }

    .group-icon {
        margin: auto;
        align-items: center;
        position: relative;
        justify-content: center;
    }
}