@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color:#674BB1;
    background-image: url('images/bg-desktop.svg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: auto 100%;
    padding: 4rem 6rem 0rem 6rem;
}

h1 {
    font-family:'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2.1rem;
    line-height: 3.375rem;
    color:white;
    margin: 0;
    max-width: 25rem;
}

.container {
    display: grid;
    /* grid-template-columns: [co-1-start] 57% [col-1-end col-2-start] 43% [col-2-end]; */
    grid-template-columns: 1.46fr 1fr;
    grid-template-areas: "left right";
    grid-gap: 3.75rem;
    max-width: 80rem;
    margin:auto;
}

.left {
    min-height: 43.5rem;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4.25rem 0rem;
    }

.image-container img {
    margin-top: 2.25rem;
    display: block;
    width: 100%
}

.right {
    display: flex;
    flex-direction: column;
    gap:11.5rem;
    min-height: 43.5rem;
    position: relative;
}

.right-top {
    padding: 11.5rem 0rem 0rem 0rem;
    height:fit-content;
    position: inherit;
}

.right-top__header {
    margin-bottom: 2rem;
    overflow-wrap: break-word;
}

.right-top__body {
    font-family: 'Open Sans', sans-serif;
    font-size:1rem;
    color: white;
    line-height: 1.6rem;
    /* inline-size: 32rem; */
    display:inline-block;
    max-width: 32rem;
    margin-bottom: 1.75rem;
    overflow-wrap: break-word;
}

.right-top__button {
    margin-top:1.75rem;
}

.logo {
    box-sizing:border-box;
    /* margin-bottom: 6.5rem; */
    height: inherit;
}

.button-register {
    display:inline-block;
    padding: 1.25rem 4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: white;
    color:#674BB1;
    border-radius: 2rem;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.4);
}

.right-bottom {
    position:relative;
}

.group-icon {
    position:absolute;
    display:flex;
    flex-direction:row;
    gap:1rem;
    bottom:0px;
    right:0px;
}


.attribution {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 11px;
    text-align: center;
}

.attribution a:link {
    text-decoration: none;
    color:white;
    font-weight:600;
}

.attribution a:hover {
    text-decoration: underline;
}

.button-register:hover {
    background-image: linear-gradient(#E980E7,#BF4EBA);
    color: white;
    cursor: pointer;
}

.icon-logo {
    display: inline-block;
    background-size: cover;
    width:40px;
    height:40px;
}

.icon--facebook {
    background-image: url(icons/fb-white.svg);
}

.icon--facebook:hover {
    filter: invert(33%) sepia(31%) saturate(2121%) hue-rotate(280deg) brightness(97%) contrast(88%);
}

.icon--instagram {
    background-image: url(icons/ig-white.svg);
}

.icon--instagram:hover {
    filter: invert(33%) sepia(31%) saturate(2121%) hue-rotate(280deg) brightness(97%) contrast(88%);
}

.icon--twitter {
    background-image: url(icons/twitter-white.svg);
}

.icon--twitter:hover {
    filter: invert(33%) sepia(31%) saturate(2121%) hue-rotate(280deg) brightness(97%) contrast(88%);
}


@media (max-width: 800px) {
    body {
        padding: 4.75rem 5rem;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:"left"
                            "right";
        grid-gap: 0;
        /* max-width: 80rem; */
        margin:auto;
    }

    .left {
        min-height: auto;
    }

    .logo {
        /* box-sizing:border-box; */
        margin-bottom: 0;
        /* height: inherit; */
    }

    .image-container {
        padding: 8.75rem 0 0 0;
        }

    .image-container img {
        margin-top: 0;
    }

    .right {
        align-items: center;
    }

    .right-top {
        padding: 0 0 0 0;
        justify-content: center;
    }

    .right-top__header {
    margin-bottom: 2rem;
    overflow-wrap: break-word;
    /* padding-left: 2rem;
    padding-right: 2rem; */
}

    h1 {
        font-size: 3rem;
        line-height: 4rem;
        text-align: center;
        max-width: 37rem;
    }

    .right-top__body {
        font-family: 'Open Sans', sans-serif;
        font-size:1.75rem;
        line-height: 3rem;
        max-width: 37rem;
        /* margin-top: 2.75rem; */
        margin-bottom: 3.25rem;
        overflow-wrap: break-word;
        text-align: center;
        /* padding-left: 2rem;
        padding-right: 2rem; */
    }

    .button-register {
        padding: 2rem 9.5rem;
        border-radius: 4rem;
        font-size:1.5rem;
        margin: 0 auto;
    }

    .button-container {
        display: flex;
        /* justify-content: center; */
    }

    .right-bottom {
        justify-content: center;
        align-items: center;
        width: 25%;
        margin: auto;
    }
/* 
    .group-icon {
        justify-content: center;
        margin: auto;
        align-items: center;
    } */
}